 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.text-mono {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace!important;
  font-weight: 400!important;
}

.App::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.App::-webkit-scrollbar-track {
    background: #758283; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
.App::-webkit-scrollbar-thumb {
  background: #758283; 
  border-radius:15px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}